body, html {
    height: 100%;
    font-family: 'Scope One', ;
  }

  body {
    margin: 100;
  }

  .container {
    height: 100%;
  }

  img {
    border-radius: 10px;
  }

  .container > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    position: absolute;
    top: 340px;
    font-weight: bold;
    font-size: 99px;
    color: rgb(255, 255, 255);
    padding-left: 600px;
  }

  .sub {
    position: relative;
    padding: 0px;
    font-size: 50px;
    color: black;
    justify-content: center;
    font-family: 'Fjalla One';
  }

  h1 {
    padding: 1em;
    font-size: 120px;
    font-family: 'Fjalla One';
    position: relative;
    right: 350px;
    height: 200px;
    width: 200px;
    background-color: rgb(22, 146, 255);
  }

  p {
    font-family: 'Scope One';
    font-size: 26px;
    position:relative;
    left: 280px;
    bottom: 424px;
    width: 800px;
  }

  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-bar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
  }

    .nav-bar > a {
    display: block;
    text-decoration: none;
    padding: 1em;
    background-color: white;
    color: white;
    }

    a.selected {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    }
