body, html {
    height: 100%;
    font-family: 'Scope One', ;
    background-color: white;
  }

  body {
    margin: 100;
  }

  .container {
    height: 100%;
  }

  img {
    border-radius: 8px;
  }

  .container > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    position: absolute;
    top: 340px;
    font-weight: bold;
    font-size: 99px;
    color: rgb(255, 255, 255);
    padding-left: 600px;
    text-shadow: 2px 2px #ff0000;
  }

  .sub {
    position: relative;
    padding: 0px;
    font-size: 50px;
    color: black;
    justify-content: center;
    font-family: 'Fjalla One';
  }

  h1 {
    padding: 1em;
    font-size: 120px;
    font-family: 'Fjalla One';
    position: relative;
    top: 200px;
    right: 350px;
    height: 200px;
    width: 200px;
    background-color: rgb(22, 146, 255);
  }

  .first {
    font-family: 'Scope One';
    font-size: 26px;
    position:relative;
    top: -200px;
    left: 310px;
    bottom: 414px;
    width: 800px;
  }

  h2 {
    padding: 2em;
    font-size: 50px;
    font-family: 'Fjalla One';
    position: relative;
    top: 150px;
    left: 350px;
    width: 430px;
    height: 200px;
    background-color: rgb(22, 146, 255);
  }

  .second {
    font-family: 'Scope One';
    font-size: 29px;
    position:relative;
    top: -260px;
    right: 370px;
    width: 800px;
  }

  h3 {
    padding: 3.5em;
    font-size: 40px;
    align-items: center;
    font-family: 'Fjalla One';
    position: relative;
    top: 50px;
    right: 350px;
    height: 260px;
    width: 260px;
    background-color: rgb(22, 146, 255);
  }

  .third {
    font-family: 'Scope One';
    font-size: 36px;
    position:relative;
    top: -43%;
    left: 190px;
  }

  h4 {
    padding: 1em;
    font-size: 46px;
    font-family: 'Fjalla One';
  }
  .a {
    background-color: beige;
  }

  .f {
    border: solid;
    border-width: 1px;
  }
   
  .b {
    border: solid;
    border-width: 1px;
    padding-bottom: 300px; 
  }

  .c {
    border: solid;
    border-width: 1px;
  }
  
  .d {
    border: solid;
    border-width: 1px;
  }

  .nav-wrapper{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom:1px;
    justify-content: space-between;
    align-items: center;
  }

  .brand-logo{
     font-size: 26px;
     color: black;
     font-weight: bold;
     position: relative;
     left: 45%;
  }

  .search{
    position: relative;
    left: 20%;
    font-size: 20px;
  }
  
  .subscribe{
    position: relative;
    left: -14%;
    padding: 0.5em;
    font-size: 16px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
  }

  .e {
    padding-top: -100px;
    background-color: beige;
  }

  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


